nav {
    background-color: #333333;
    text-align: right;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: inherit;
    margin-bottom: 60px;
}

img {
    float: left;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding-left: 60px;
}

a {
    color: #ff0099;
    padding: 0 0 0 10px;
}

body {
    padding: 20px;
    margin: 0 auto;
    font-family: consolas, courier;
    background-image: url("hatter.png");
}

article {
    padding: 0 100px;
    margin-left: auto;
    margin-right: auto; 
}

h1, h2 {
    font-family: Roboto;
}

.alcim {
    color: #ff0099;
}

h3, .wiki {
    text-align: center;
    padding-top: 50px;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    padding-top: 130px;
}